body 
{
    font-family: sans-serif;
    font-size:14px;
}
table 
{
    border: 1px solid #ebebeb;
    border-collapse: collapse;
}
th 
{
    background-color:#5ec306;
    color: white;
    font-weight:normal;
    text-align:left;
    padding: 10px;
    border:1px solid #808080;
    height:10px;
}

td
{
    padding: 10px;
    border:1px solid #ebebeb;
    height:14px;
}
tr:nth-last-of-type(2n+1)
{
    background-color:#f3f1f1;
}
.col1, .col2, .col3 
{
    width:150px;
}